.ul {
  z-index: 100;
  position: absolute;
  background-color: #045c01;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 95%;
  max-width: 24rem;
}

.ul li:nth-of-type(1n + 14) {
  display: none;
}

.ul li:hover {
  cursor: pointer;
  background-color: #32834b;
}

.div input,
.div button {
  display: inline;
}

.div input {
  width: 90%;
}

.div button {
  width: 10%;
  font: inherit;
  background-color: #f1e1fc;
  color: #619c73;
  border-radius: 4px;
  border: 1px solid white;
  text-align: center;
  padding: 0.25rem;
  margin-bottom: 5px;
}
